body{
  background: burlywood;
}
.wrapper{
  margin-top: 10%;
	text-align: center;
}
.wrapper h1{
  margin-bottom: 80px;
  font-size: 55px;
  text-align: center;
}
.team{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}
.team .team-members{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: cornflowerblue;
}
h1{
	font-size: 55;
	font-weight: 800;
	color: darkblue;
	margin-top: 50px;
	padding-top: 50px;
}
#isaa{
	border-radius: 50%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
#narik{
	border-radius: 50%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
#kwabe{
	border-radius: 50%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
#lorna{
	border-radius: 50%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
#leah{
	border-radius: 50%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
#nav-bar{
	background-color: lightseagreen;
	font-size: 30;
	margin: 20px;
	padding: 10px;
  word-spacing: 30px;
	
}



